body {
background-color: rgb(20, 20, 20);
margin: 0px;

}
#menu {
height: 100vh;
display: flex;
align-items: center;
}

#menu-items:hover > .menu-items{

opacity: 0.3;

}

#menu-items:hover > .menu-items:hover{
opacity: 1;

}
.menu-items {
    font-size: clamp(3rem, 8vw, 8rem);
    font-family: "Ibarra Real Nova", serif;
    display: block;
    text-decoration: none;
    padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
    transition: opacity 400ms ease;

    margin-left: clamp(4rem, 20vw, 48rem);
    position: relative;

z-index: 3;
}
#menu-background-pattern {
height: 100vh;
width: 100vw;

background-image: radial-gradient(rgba(2255,255,255, 0.1)9%, 
transparent 9% 
);
background-position: 0% 0%;
background-size: 12vmin 12vmin;

position: absolute;
left: 0px;
top: 0px;
z-index: 1;

transition: opacity 800ms ease;
background-size: 800ms ease;
}

#menu-items:hover ~ #menu-background-pattern {
    background-size: 11vmin 11vmin;
    opacity: 0.5;

}

#menu[data-active-index="0"] > #menu-background-pattern {
background-position: 0% -25%;
}
#menu[data-active-index="1"] > #menu-background-pattern {
    background-position: 0% -50%;
}
#menu[data-active-index="2"] > #menu-background-pattern {
background-position: 0% -75%;
        }
#menu[data-active-index="3"] > #menu-background-pattern {
background-position: 0% -100%;
        }







        /* gradiant go woosh */

:root {
--green: #76ff03;
--light-green: #b2ff59;
}
        
.menu-items {

    border-top: 1px solid rgba(2255,255,255, 0.5);
    color: azure;
   

} 
.menu-items:hover::before{
    transition: width 600ms  ease;
    width: 100%;
}

.menu-items:before {
background: linear-gradient(
        to right,
        transparent,
        var(--green),
        var(--light-green)
    );

content: "";
left: 0px;
top: 0px;
height: 100%;
width: 0%;
position: absolute;
z-index: 2;
}

.menu-items:nth-child(4) {
  border-bottom: 1px solid rgba(225,225,225,0.6);  
}